body {
    font-family: "Open Sans";
    background-color: rgb(235, 234, 234);
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 0;
}

.body-container {
justify-content: center;
background-color: white;
}

.section-1 {
    background-color: #004175;
    border-bottom: 2px solid #89DEEF;
    color: #ffff;
    padding: 1em;
    max-width: 100%;
}

.linktoform {
    padding: 1em;
}

.dog-grid {
    display: grid;
    max-width: 1240px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: min-content 1fr;
    grid-gap: 1rem;
    margin: 5rem;
    
}

.dog-container {
    height: 25rem;
    width:  25rem;
    margin: 5rem auto;
    
}

.dog-container img {
    max-width: 100%;
    height: auto;
    display: flex;
}
.tag {
    display:inline-flex;
    width: auto;
    list-style-type: none;
    background: #89DEEF;
    margin: 0;
    padding: 2px 4px;
    border-radius: 25px;
    font-size: 11px;
}
.tags {
    padding: 0px;
}

.footer {
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: auto;
    flex: 1 1 auto;
    
}

.bottom-section {
    display: flex;
    padding: 5em;
    font-size: 2vw;
    color: white; 
    max-width: auto;
    overflow: hidden;
    
}


.one {
    background: linear-gradient(
        rgba(66, 46, 198, 0.45),
        rgba(66, 46, 198, 0.45)
    ),
    url("starter_files/images/donate.jpg");
    background-color: lightblue;
    background-size: cover;
    background-repeat:no-repeat;
    flex: 1 1 auto;
    
}

.two {
    background: linear-gradient(
        rgba(66, 46, 198, 0.45),
        rgba(66, 46, 198, 0.45)
    ),
    url("starter_files/images/volunteer.jpg");
    background-color: lightblue;
    background-size: cover;
    background-repeat:no-repeat;
    flex: 1 1 auto;
}

.three {
    background: linear-gradient(
        rgba(66, 46, 198, 0.45),
        rgba(66, 46, 198, 0.45)
    ),
    url("starter_files/images/location.png");
    background-color: lightblue;
    background-size: cover;
    background-repeat:no-repeat;
    flex: 1 1 auto;
}